html {
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: white;
  font-family: "Noto Sans", sans-serif;
}

li a {
  text-decoration: underline;
  list-style-type: none;
  color: #b64c6e;
}

li a:hover {
  color: #860927;
}

.btn-ghost {
  color: #b64c6e;
  border: 2px solid #d89fb0;
}

.btn-ghost:hover {
  color: #860927;
  background-color: #d89fb0;
  border: 2px solid #860927;
}

hr {
  border-top: 2px solid #e2e2e2;
}

header h1, header p {
  display: block;
}

.jp {
  font-family: "Noto Sans Japanese", sans-serif;
}

@media only screen and (min-width: 60em) {

}
