html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans Japanese", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 200%;
}

.img-flex {
  display: block;
  width: 100%;
}

li a {
  text-decoration: underline;
  list-style-type: none;
  color: #b64c6e;
}

.btn, .btn-ghost {
  color: #d89fb0;
}

header h1, header p {
  display: block;
}
