html {
  font-family: "Noto Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: white;
  font-family: "Noto Sans", sans-serif;
}

li a {
  text-decoration: underline;
  list-style-type: none;
  color: #b64c6e;
}

li a:hover {
  color: #860927;
}

.btn, .btn-ghost {
  color: #b64c6e;
  border: 2px solid #d89fb0;
}

.btn:hover, .btn-ghost:hover {
  color: #860927;
  background-color: #d89fb0;
  border: 2px solid #860927;
}

header h1, header p {
  display: block;
}
